body{
    background-color: rgb(93, 83, 131);
    color:white;
    font-family: "Asimovian", sans-serif;
    margin: 0px;
}
header{
    font-size: 50px;
    border-bottom: dashed 5px rgb(161, 84, 176);
    text-align: center;
    /*margin: 30px;*/
    padding: 20x;
    color: rgb(228, 154, 255);
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

section{
background-color: rgb(46, 20, 96);
padding-bottom: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
    margin-right: 10%;
}

